<!DOCTYPE html>
<html lang="en-US">

<head>
	<%- include('../templates/head.ejs', {title: 'Rules'}) %>
<!--    <link rel="stylesheet" href="styles/rules.css">-->
</head>

<body>
    <%#- include('../templates/header.ejs', {title: 'Rules'}) %>
    <%- include('../templates/nav.ejs', {current: '/rules', imgUrl: 'images/av.jpeg'}) %>
	<main>
        <br/>
        <p>
            Колись зʼявляться
        </p>
    </main>
    <%#- include('../templates/footer.ejs') %>
</body>

</html>