<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MarvelGame</title>
        <meta name="description" content="lobbyGame" charset="utf-8">
        <link rel="stylesheet" href="cards.css">
        <link rel="icon" type="image/png" href="../public/assets/board2.jpeg">
    </head>
    <body>
        <div class="menu">
            <img id='avatar' alt="avatar">
            <nav>
                <ul>
                    <li><a href="/">Лоббi</a></li>
                    <li><a href="/store">Картки</a></li>
                    <li><a href="/profile">Профiль</a></li>
                    <li><a href="/rules">Правила</a></li>
                    <li><a id="logout">Вийти</a></li>
                </ul>
            </nav>
        </div>
        <h1 style="font-size: 3vw; text-align: center;">Список доступних вам карток:</h1>
        <div class="slide-container">
      </div> 
        <script>
          let request = new XMLHttpRequest()
            
            request.open('POST', '/', true);
            
            request.setRequestHeader( 'Content-Type', 'application/json');
            
            request.addEventListener('load', function () {
                let receivedUser = JSON.parse(request.response);

                if (receivedUser.ans == "YESlogin")
                    window.location.href = '/login';
                else {
                  let ava = document.getElementById('avatar');
                  ava.outerHTML = `<img src="./assets/avatars/ava.jpeg" alt="avatar" id="avatar">`;
                }
            });
            
          request.send();
          let logoutButton = document.getElementById('logout');
          logoutButton.addEventListener('click', function (evt) {
      
              evt.preventDefault();
              let request = new XMLHttpRequest()

              request.open('POST', '/logout', true);
              request.setRequestHeader( 'Content-Type', 'application/json');
              request.addEventListener('load', function () {
                  let receivedUser = JSON.parse(request.response);
                  
                  if(receivedUser.ans = "logout") {
                      window.location.href = '/login';
                  }
              });
              request.send();
          });
      </script>
    </body>
</html>