<!--<head>-->
    <meta charset="utf-8">
	<title><%= title %></title>
	<meta name="author" content="Kovalov Yevhen and Tsiupa Maksym">
	<meta name="description" content="Stalker card game">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/style.css">
<!--	<link rel="stylesheet" href="styles/card.css">-->
<!--	<link rel="stylesheet" href="styles/playground.css">-->
	<link rel="icon" type="image/x-icon" href=""/>
<!--</head>-->