/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');*/

body {
    margin: 0;
    background-image: url(../images/reg3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font: 1.4vh/2vh "Lato", Arial, sans-serif;
    color: #9E9E9E;
}

#log {
    margin-top: 10vh;
    text-align: center;
    position: relative;
    font-size: 4vw;
    font-weight: normal;
    text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
    color: white;
    cursor: default;
}

#gradient-button {
    text-decoration: none;
    margin: 0 auto;
    display: block;
    position: relative;
    color: white;
    padding: 2vh 8vh;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #c01111 0%, #ff0000 51%, #000000 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    justify-content: center;
    font-size: 2vw;
}

#gradient-button:hover {
    background-position: right center;
}

#avatar {
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width: 5%;
}

#logout {
    cursor: pointer;
}

.profile-text {
    font-size: 2vw;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(58, 28, 28), -1px 1px 1px rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    cursor: default;
    text-align: center;
    margin-top: 50px;
    padding-left: 60%;
}

p {
    padding: 30px 0px;
}

#gradient-button-2 {
    text-decoration: none;
    margin: 0 auto;
    display: block;
    position: relative;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #c01111 0%, #ff0000 51%, #000000 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    justify-content: center;
    font-size: 2.5vw;
}

#gradient-button-2:hover {
    background-position: right center;
}

  @-webkit-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes cckw {
    0% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes cckw {
    0% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

#waitingText {
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(58, 28, 28), -1px 1px 1px rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    cursor: default;
    text-align: center;
    margin-top: 60px;
}

.gear {
    float: none;
    position: relative;
    text-align: center;

    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
#gear1 {
    background: url('../images/animation.png') no-repeat 0 0;
    height: 300px;
    width: 300px;
    margin: auto;

    -moz-animation-name: ckw;
    -moz-animation-duration: 3s;

    -webkit-animation-name: ckw;
    -webkit-animation-duration: 3s;
}



*, *:before, *:after {
  box-sizing: border-box;
}


#you{
  font-size: 60px;
  position: absolute;
  left: 2%;
  top: 55%;
  color: white;
}

#opponent{
  position: absolute;
  left: 2%;
  top: 0%;
  color: white;
}

h1{
  color: white;
  position: absolute;
  left: 35%;
  top: 10%;
  font-size: 4vh;
}

.cardBase {
    height: 150px;
}

.cards {
    background: linear-gradient(150deg, #aaa 25%, #aa724f);
    width: 100px;
/*    height: 150px;*/
    display: inline-block;
    margin: 2vh 1vh;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    position: absolute;
    top: 75.3%;
    margin-right: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cards__image {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 0.5vh;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cards__unit-name {
    height: 20px;
    line-height: 20px;
    margin-top: -5px;
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-bottom: 0.5vh;
    background: linear-gradient(90deg, darkred 5%, red);
}

.cards__unit-description {
    height: 40px;
    font-size: 10px;
    padding: 1px;
    overflow: hidden;
    color: black;
    line-height: 12px;
    margin-top: -3px;
/*    margin-bottom: 0.2vh;*/
}

#hp {
    position: absolute;
    top: 5px;
    left: 70px;
    z-index: 0;
    width: 30px;
    height: 30px;
    color: white;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
}

#hp:before, #hp:after {
    position: absolute;
    left: 13.5px;
    z-index: -1;
    width: 16px;
    height: 22px;
    border-radius: 60px 60px 0 0;
    background: red;
    content: "";
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#hp:after {
    top: 0px;
    left: -1.5px;
    transform: rotate(45deg);
    transform-origin : 100% 100%;
}

#attack {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    background-image: url("../images/aim.png");
    background-size: cover;
}

#price {
  position: relative;
    bottom: 10px;
    left: 75px;
/*    z-index: 0;*/
    width: 20px;
    height: 22px;
    color: white;
    line-height: 22px;
    text-align: center;
    font-size: 13px;
    background-image: url("../images/crystal.png");
    background-size: cover;
}

.one-third {
  border-right: 0.1vh solid #160d02;
  width: 33%;
  float: left;
  padding: 0.5vh 0.5vh;
}

.stat {
  position: relative;
  font-size: 1.8vh;
  margin-bottom: 0.2vh;
}

.stat-value {
  font-weight: 400;
  font-size: 1.2vh;
}

.no-border {
  border-right: none;
}

.slick-prev {
  left: 10vh;
  z-index: 999;
}

.slick-next {
  right: 10vh;
  z-index: 999;
}

#logout {
  cursor: pointer;
}





.main-cards {
  border-top-left-radius: 4vh;
  border-top-right-radius: 4vh;
  background: white;
  width: 15vw;
  display: inline-block;
  margin: 2vw 0.2vh;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  position: relative;
}

.main-cards__image {
  border-top-left-radius: 4vh;
  border-top-right-radius: 4vh;
  position: relative;
  height: 21vh;
  margin-bottom: 3.5vh;
}


#opponent .main-cards__unit-name{
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 5vh;
  color: rgb(255, 0, 0);
  cursor: default;
}

#you .main-cards__unit-name{
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 5vh;
  color: rgb(0, 0, 0);
  cursor: default;

}

#opponent .main-cards__unit-stats {
  background: #aa0000;
  color: white;
  font-weight: 700;

}

#you .main-cards__unit-stats {
  background: #060886;
  color: white;
  font-weight: 700;

}

.main-stat {
  padding-top: 1vh;
  position: relative;
  font-size: 2.4vh;

  margin-bottom: 1vh;
}

.main-stat-value {

  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2vh;
}

.no-border {
  border-right: none;
}

#opponent .main-cards__image{
    background-image: url('../images/ava.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}



#you .main-cards__image{
  background-image: url('../images/ava.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#card1{
  border-radius: 0px;
  height: 30vh;
  width: 20vh;
  position: relative;
  left: 85%;
  top: 67%;
  cursor: pointer;
}
#card2{
  border-radius: 0px;
  height: 30vh;
  width: 20vh;
  position: relative;
  left: 74.5%;
  top: 2%;
  cursor: pointer;
}



#red-button {
  left: 82%;
  top: 42%;
  margin: 0px;
  width: 20vw;
  height: 8vw;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 -1px 1px #777;
  font-size: 2vw;
  color: #fff;
  outline: none;
  border: 2px solid #9c0101;
  border-radius: 6vh;
  box-shadow: 0 0 0 6vh rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
  float: right;
  margin-top: 44vh;
}
#red-button:active {
  box-shadow: 0 0 0 6vh rgba(0,0,0,.05) inset;
}

.cards-opponent-on-board .cards {
/*  border-radius: 40px;*/
  top: 20%;
}
/*
.cards-opponent-on-board .cards__image {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.cards-opponent-on-board .cards__unit-stats {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

#card-user-on-board1, #card-user-on-board2, #card-user-on-board3, #card-user-on-board4, #card-user-on-board5, #card-user-on-board6, #card-user-on-board7, #card-user-on-board8{
    border-radius: 40px;
}

#card-user-on-board1 .cards__image, #card-user-on-board2 .cards__image, #card-user-on-board3 .cards__image, #card-user-on-board4 .cards__image, #card-user-on-board5 .cards__image, #card-user-on-board6 .cards__image, #card-user-on-board7 .cards__image, #card-user-on-board8 .cards__image {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#card-user-on-board1 .cards__unit-stats, #card-user-on-board2 .cards__unit-stats,#card-user-on-board3 .cards__unit-stats,#card-user-on-board4 .cards__unit-stats,#card-user-on-board5 .cards__unit-stats,#card-user-on-board6 .cards__unit-stats,#card-user-on-board7 .cards__unit-stats,#card-user-on-board8 .cards__unit-stats{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
*/

.cards_opponent{
  left:20%;
}

.cards_opponent img{
    height: auto;
    width: 14vh;
    top: -10%;      
}

#cardOpponent1 img, #cardOpponent2 img, #cardOpponent3 img, #cardOpponent4 img, #cardOpponent5 img, #cardOpponent6 img, #cardOpponent7 img, #cardOpponent8 img{
  position: absolute;
}



#money-user-img{
  position: absolute;
  left: 87%;
  top: 80%;
  height: 15vh;
}
#money-user-value1{
  position: absolute;
  left: 88.1%;
  top: 75%;
  font-size: 4vh;
  color: rgb(4, 0, 255);
}
#money-user-text{
  position: absolute;
  left: 90.6%;
  top: 75%;
  font-size: 4vh;
  color: rgb(4, 0, 255);
}

#money-user-value2{
  position: absolute;
  left: 92.6%;
  top: 75%;
  font-size: 4vh;
  color: rgb(4, 0, 255);
}

#money-opponent-value{
  position: absolute;
  left: 90.4%;
  top: 5%;
  font-size: 4vh;
  color: rgb(255, 0, 0);
}


#money-opponent-img{
  position: absolute;
  left: 87%;
  top: 10%;
  height: 15vh;
}

.message {
  position: absolute;
  top: 46%;
  left: 25%;
  color: red;
  font-size: 50px;
}


@keyframes show {
  from {left: -10%}
}

@keyframes showOpponent {
  from {left: -10%}
}

@keyframes fade {
  from {
   opacity: 1;
   }
   to {
    opacity: 0;
   }
 }

 @keyframes fadeAway {
  from {
   opacity: 0;
   }
   to {
    opacity: 0.6;
   }
 }

 @keyframes fadeAwayOpponent {
  from {
   opacity: 0;
   }
   to {
    opacity: 1;
   }
 }

 @keyframes changeColor {
  to {
   color: rgb(255, 0, 0);
  }
}


